<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.3.159"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="B00_StartPage">
  <Property Name="BackColor" Value="253"/>
  <Property Name="Description" Value="Template Start page - shown during boot up"/>
  <Property Name="Height" Value="600"/>
  <Property Name="Index" Value="0"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="1"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[cube]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="227"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="606"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="129"/>
          <Property Name="Width" Value="341"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[ArialBig]"/>
          <Property Name="Height" Value="28"/>
          <Property Name="Left" Value="387"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtgrp_StartPage]"/>
          <Property Name="TextIndexOffset" Value="1"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="308"/>
          <Property Name="Width" Value="109"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Header]"/>
          <Property Name="ForeColor" Value="22"/>
          <Property Name="Height" Value="48"/>
          <Property Name="Left" Value="768"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[globalArea_Names]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="6"/>
          <Property Name="Width" Value="185"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="Height" Value="43"/>
          <Property Name="Left" Value="205"/>
          <Property Name="LineWidth" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="495"/>
          <Property Name="Width" Value="614"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_3">
          <Property Name="Bitmap" Value="Source[local].Bitmap[BR]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="143"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="302"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="119"/>
          <Property Name="Width" Value="250"/>
        </Control>
        <Control ClassId="0x00001006" Name="barProgressCalibration">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EndValue" Value="10000"/>
          <Property Name="Height" Value="31"/>
          <Property Name="Left" Value="313"/>
          <Property Name="Range[0].Color" Value="253"/>
          <Property Name="Range[0].Start" Value="0"/>
          <Property Name="SimulationValue" Value="2000"/>
          <Property Name="StartValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[ProgressBar]"/>
          <Property Name="Top" Value="435"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Visualization.VC4.VisuManager.InitTON.ET]"/>
          <Property Name="Width" Value="629"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Status]"/>
          <Property Name="Height" Value="21"/>
          <Property Name="Left" Value="313"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[txtgrp_StartPage]"/>
          <Property Name="TextIndexOffset" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="413"/>
          <Property Name="Width" Value="627"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="CalibTouch">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000164">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder/>
  <TabSequence/>
</Page>