<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.3.5.113 SP"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="B03_Setup">
  <Property Name="Description" Value="Template setup page - system configuration"/>
  <Property Name="Height" Value="600"/>
  <Property Name="Index" Value="3"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[globalArea]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="globalArea"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[globalArea_Basic_control]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="globalArea_Basic_control"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <Layer Name="FrameLayer">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="97313" Value="P1"/>
          <Text ID="97314" Value="P2"/>
          <Text ID="97435" Value="Control Panel"/>
          <Text ID="97436" Value="Screen Simulation"/>
          <Text ID="97437" Value="Demo mode"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="97313" Value="Text_1"/>
          <Text ID="97314" Value="Text_1"/>
          <Text ID="97435" Value="Text_4"/>
          <Text ID="97436" Value="Text_5"/>
          <Text ID="97437" Value="Text_6"/>
        </TextLayer>
        <IndexMap>
          <Index ID="97313" Value="14"/>
          <Index ID="97314" Value="15"/>
          <Index ID="97435" Value="24"/>
          <Index ID="97436" Value="25"/>
          <Index ID="97437" Value="26"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001001" Name="frmNetwork">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="248"/>
          <Property Name="Height" Value="61"/>
          <Property Name="Left" Value="247"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="161"/>
          <Property Name="Width" Value="227"/>
        </Control>
        <Control ClassId="0x00001001" Name="frmDateTime">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="248"/>
          <Property Name="Height" Value="61"/>
          <Property Name="Left" Value="487"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Time_And_Date]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="283"/>
          <Property Name="Width" Value="228"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtNetwork">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="246"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TextHeaders]"/>
          <Property Name="TextIndexOffset" Value="41"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="139"/>
          <Property Name="Width" Value="228"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDateTime">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="487"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Time_And_Date]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TextHeaders]"/>
          <Property Name="TextIndexOffset" Value="47"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="263"/>
          <Property Name="Width" Value="228"/>
        </Control>
        <Control ClassId="0x00001002" Name="cmdAlarmPageHistory">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="None"/>
          <Property Name="Height" Value="32"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="484"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Buttons_PageTexts]"/>
          <Property Name="TextIndex" Value="7"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="66"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[pageSDM]"/>
          <Property Name="Width" Value="229"/>
        </Control>
        <Control ClassId="0x00001004" Name="Automationinfo">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="247"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TextHeaders]"/>
          <Property Name="TextIndexOffset" Value="42"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="233"/>
          <Property Name="Width" Value="225"/>
        </Control>
        <Control ClassId="0x00001004" Name="Version">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="261"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Buttons_PageTexts]"/>
          <Property Name="TextIndexOffset" Value="9"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="271"/>
          <Property Name="Width" Value="108"/>
        </Control>
        <Control ClassId="0x00001004" Name="Runtime">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="260"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Buttons_PageTexts]"/>
          <Property Name="TextIndexOffset" Value="10"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="301"/>
          <Property Name="Width" Value="108"/>
        </Control>
        <Control ClassId="0x00001004" Name="VersionAS">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="BackColor" Value="15"/>
          <Property Name="Border" Value="Source[local].Border[SunkenNGgray]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Opaque"/>
          <Property Name="ForeColor" Value="255"/>
          <Property Name="Height" Value="21"/>
          <Property Name="Left" Value="323"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Buttons_PageTexts]"/>
          <Property Name="TextIndexOffset" Value="1213"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="268"/>
          <Property Name="Width" Value="127"/>
        </Control>
        <Control ClassId="0x00001001" Name="frmDateTime1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="248"/>
          <Property Name="Height" Value="77"/>
          <Property Name="Left" Value="249"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="255"/>
          <Property Name="Width" Value="222"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Header]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="818"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Basic_Control_pages]"/>
          <Property Name="TextIndexOffset" Value="2"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="20"/>
          <Property Name="Width" Value="126"/>
        </Control>
        <Control ClassId="0x00001001" Name="frmDateTime2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="248"/>
          <Property Name="Height" Value="98"/>
          <Property Name="Left" Value="249"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Potentiomer_Sensitivity]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="434"/>
          <Property Name="Width" Value="227"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtPotentiomerSensitivity">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="249"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Potentiomer_Sensitivity]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TextHeaders]"/>
          <Property Name="TextIndexOffset" Value="44"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="414"/>
          <Property Name="Width" Value="228"/>
        </Control>
        <Control ClassId="0x0000101F" Name="Slider_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="CurrentDatapoint" Value="None"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="309"/>
          <Property Name="Locking" Value="Datapoint = 0"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.PanelEnabled]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="3000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="100"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Potentiomer_Sensitivity]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="444"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.trimmer01_sens]"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Status]"/>
          <Property Name="Height" Value="27"/>
          <Property Name="Left" Value="268"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Potentiomer_Sensitivity]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="14"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="449"/>
          <Property Name="Width" Value="27"/>
        </Control>
        <Control ClassId="0x0000101F" Name="Slider_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="CurrentDatapoint" Value="None"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="308"/>
          <Property Name="Locking" Value="Datapoint = 0"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.PanelEnabled]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="3000"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="100"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Potentiomer_Sensitivity]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="490"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.trimmer02_sens]"/>
          <Property Name="Width" Value="160"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Status]"/>
          <Property Name="Height" Value="27"/>
          <Property Name="Left" Value="267"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Potentiomer_Sensitivity]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="15"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="495"/>
          <Property Name="Width" Value="27"/>
        </Control>
        <Control ClassId="0x00001001" Name="frmDateTime3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="248"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="486"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Demo_LED_Speed]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="127"/>
          <Property Name="Width" Value="227"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDemoTime">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="485"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Demo_LED_Speed]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TextHeaders]"/>
          <Property Name="TextIndexOffset" Value="45"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="107"/>
          <Property Name="Width" Value="228"/>
        </Control>
        <Control ClassId="0x0000101F" Name="Slider_3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="CurrentDatapoint" Value="None"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="495"/>
          <Property Name="Locking" Value="Datapoint = 0"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.DemoEnabled]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="500"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Demo_LED_Speed]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="138"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modDemo.timeSwitchButton]"/>
          <Property Name="Width" Value="210"/>
        </Control>
        <Control ClassId="0x00001001" Name="frmDateTime4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="248"/>
          <Property Name="Height" Value="119"/>
          <Property Name="Left" Value="486"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Allow_Control_Parts]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="377"/>
          <Property Name="Width" Value="227"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtAllowControlParts">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="486"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Allow_Control_Parts]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TextHeaders]"/>
          <Property Name="TextIndexOffset" Value="48"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="357"/>
          <Property Name="Width" Value="228"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Status]"/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="501"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Allow_Control_Parts]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="24"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="388"/>
          <Property Name="Width" Value="146"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Status]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="501"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Allow_Control_Parts]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="25"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="428"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Status]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="501"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Allow_Control_Parts]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="26"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="469"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_4">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Button_Radio_selected]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_4]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="663"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Button_Radio]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Allow_Control_Parts]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="388"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_4]"/>
          <Property Name="Width" Value="30"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_5">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Button_Radio_selected]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_5]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="663"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Button_Radio]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Allow_Control_Parts]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="423"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_5]"/>
          <Property Name="Width" Value="30"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_6">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Button_Radio_selected]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_6]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="663"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Button_Radio]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Allow_Control_Parts]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="463"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_6]"/>
          <Property Name="Width" Value="30"/>
        </Control>
        <Control ClassId="0x0000100B" Name="String_1">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="24"/>
          <Property Name="Left" Value="325"/>
          <Property Name="SimulationValue" Value="U3.09"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="296"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Visualization.VC4.VisuManager.OSVersionString]"/>
          <Property Name="Width" Value="124"/>
        </Control>
        <Control ClassId="0x00001001" Name="frmDateTime5">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="248"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="486"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Demo_XP_Light_Speed]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="207"/>
          <Property Name="Width" Value="227"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDemoTime2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="485"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Demo_XP_Light_Speed]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TextHeaders]"/>
          <Property Name="TextIndexOffset" Value="46"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="187"/>
          <Property Name="Width" Value="228"/>
        </Control>
        <Control ClassId="0x0000101F" Name="Slider_4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="CurrentDatapoint" Value="None"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="494"/>
          <Property Name="Locking" Value="Datapoint = 0"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.DemoEnabled]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="50"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="30"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Demo_XP_Light_Speed]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="215"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modDemo.timeSwitchLamp]"/>
          <Property Name="Width" Value="210"/>
        </Control>
        <Control ClassId="0x00001001" Name="frmDateTime6">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="248"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="246"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="86"/>
          <Property Name="Width" Value="227"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDemoTime1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="245"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TextHeaders]"/>
          <Property Name="TextIndexOffset" Value="40"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="66"/>
          <Property Name="Width" Value="228"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtRFIDrights">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="259"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Buttons_PageTexts]"/>
          <Property Name="TextIndexOffset" Value="1210"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="101"/>
          <Property Name="Width" Value="149"/>
        </Control>
        <Control ClassId="0x00001002" Name="Button_1">
          <Property Name="BitmapIndexDatapoint" Value="None"/>
          <Property Name="BitmapSource" Value="None"/>
          <Property Name="Border" Value="Source[local].Border[Check_box]"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="EmbVirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_1]"/>
          <Property Name="Height" Value="24"/>
          <Property Name="KeyMatrixOffset" Value="None"/>
          <Property Name="Left" Value="419"/>
          <Property Name="Locking" Value="Datapoint &gt;= Level"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.gRFIDModule.RFIDlayer]"/>
          <Property Name="LockingLevel" Value="1"/>
          <Property Name="PressedBitmapSource" Value="Source[embedded].Property[BitmapSource]"/>
          <Property Name="PressedBorder" Value="Source[local].Border[Check_box_checked]"/>
          <Property Name="PressedTextSource" Value="Source[embedded].Property[TextSource]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextIndexDatapoint" Value="None"/>
          <Property Name="TextSimulationValue" Value="0"/>
          <Property Name="TextSource" Value="None"/>
          <Property Name="Top" Value="98"/>
          <Property Name="VirtualKey" Value="Source[local].VirtualKey[%embVirtualKey_1]"/>
          <Property Name="Width" Value="24"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="Bitmap" Value="Source[local].Bitmap[buttonLayer]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="60"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="218"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="240"/>
          <Property Name="Width" Value="21"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="%embVirtualKey_4">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.PanelEnabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_5">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.SimulEnabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_6">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.DemoEnabled]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="%embVirtualKey_1">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016A">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="ResetValue" Value="0"/>
              <Property Name="SetValue" Value="1"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Allow_RFID]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="4"/>
      <TextGroup>
        <TextLayer LanguageId="en"/>
        <TextLayer LanguageId="de"/>
        <IndexMap/>
      </TextGroup>
      <Controls>
        <Control ClassId="0x0000100B" Name="strNetworkAddress">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="353"/>
          <Property Name="SimulationValue" Value="255.255.255.255"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="171"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.Connection.IPAddress]"/>
          <Property Name="Width" Value="107"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtIPAddress">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="258"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Buttons_PageTexts]"/>
          <Property Name="TextIndexOffset" Value="6003"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="171"/>
          <Property Name="Width" Value="108"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtNodeNumber">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="16"/>
          <Property Name="Left" Value="256"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Buttons_PageTexts]"/>
          <Property Name="TextIndexOffset" Value="6004"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="192"/>
          <Property Name="Width" Value="108"/>
        </Control>
        <Control ClassId="0x00001007" Name="varNodeNumber">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="417"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="None"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinValue" Value="None"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="192"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.Connection.NodeNumber]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="43"/>
        </Control>
        <Control ClassId="0x00001007" Name="setSecond">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="Left" Value="671"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="59"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIntegerDigits" Value="2"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Time_And_Date]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="292"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Second]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="29"/>
        </Control>
        <Control ClassId="0x00001007" Name="setMinute">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="Left" Value="640"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="59"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIntegerDigits" Value="2"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Time_And_Date]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="292"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Minute]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="29"/>
        </Control>
        <Control ClassId="0x00001007" Name="setHour">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="Left" Value="609"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="23"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIntegerDigits" Value="2"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Time_And_Date]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="292"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Hour]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="29"/>
        </Control>
        <Control ClassId="0x00001007" Name="setYear">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="Left" Value="600"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="2038"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIntegerDigits" Value="4"/>
          <Property Name="MinValue" Value="1900"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Time_And_Date]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="314"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Year]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="39"/>
        </Control>
        <Control ClassId="0x00001007" Name="SetMonth">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="Left" Value="640"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="12"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIntegerDigits" Value="2"/>
          <Property Name="MinValue" Value="1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Time_And_Date]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="314"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Month]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="29"/>
        </Control>
        <Control ClassId="0x00001007" Name="setDay">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="Left" Value="671"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="31"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIntegerDigits" Value="2"/>
          <Property Name="MinValue" Value="1"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Time_And_Date]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="314"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.DateTime.Day]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="29"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtTimeFormat">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="494"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Time_And_Date]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Buttons_PageTexts]"/>
          <Property Name="TextIndexOffset" Value="6005"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="293"/>
          <Property Name="Width" Value="88"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDateFormat">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="494"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Time_And_Date]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Buttons_PageTexts]"/>
          <Property Name="TextIndexOffset" Value="6006"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="315"/>
          <Property Name="Width" Value="93"/>
        </Control>
        <Control ClassId="0x00001001" Name="frmDateTime">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="248"/>
          <Property Name="Height" Value="46"/>
          <Property Name="Left" Value="249"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Demo_Startup]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="362"/>
          <Property Name="Width" Value="227"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtDemoTime">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="248"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Demo_Startup]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TextHeaders]"/>
          <Property Name="TextIndexOffset" Value="43"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="342"/>
          <Property Name="Width" Value="228"/>
        </Control>
        <Control ClassId="0x00001007" Name="setDemoSecond">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="Left" Value="435"/>
          <Property Name="Locking" Value="Datapoint = 0"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.DemoEnabled]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="59"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIntegerDigits" Value="2"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Demo_Startup]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="372"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.seconds]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="29"/>
        </Control>
        <Control ClassId="0x00001007" Name="setDemoMinute">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="Left" Value="402"/>
          <Property Name="Locking" Value="Datapoint = 0"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.DemoEnabled]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="59"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIntegerDigits" Value="2"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Demo_Startup]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="372"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.minutes]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="29"/>
        </Control>
        <Control ClassId="0x00001007" Name="setDemoHour">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="CompletionValue" Value="1"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="21"/>
          <Property Name="Left" Value="370"/>
          <Property Name="Locking" Value="Datapoint = 0"/>
          <Property Name="LockingDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.DemoEnabled]"/>
          <Property Name="MaxDatapoint" Value="None"/>
          <Property Name="MaxValue" Value="23"/>
          <Property Name="MinDatapoint" Value="None"/>
          <Property Name="MinIntegerDigits" Value="2"/>
          <Property Name="MinValue" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Demo_Startup]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Input]"/>
          <Property Name="TeachDatapoint" Value="None"/>
          <Property Name="Top" Value="371"/>
          <Property Name="ValueDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ETAControl.modSwitch.hours]"/>
          <Property Name="ValueMode" Value="Standard"/>
          <Property Name="Width" Value="29"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtTimeFormat1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="258"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StatusDatapoint" Value="Source[global].Variable[DataSource.ETA_Cube_Program.ReaderRFID.RFIDAuthorize.Demo_Startup]"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Buttons_PageTexts]"/>
          <Property Name="TextIndexOffset" Value="6005"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="375"/>
          <Property Name="Width" Value="88"/>
        </Control>
      </Controls>
      <KeyMapping>
        <VirtualKey Name="TouchCalibration">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000164">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Name" Value="Action_0"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="BrightnessPlus">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000162">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="MaxValue" Value="100"/>
              <Property Name="MinValue" Value="0"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Repeat" Value="True"/>
              <Property Name="StepValue" Value="5"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.Display.Brightness]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="LanguageUp">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016C">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Mode" Value="Previous"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="LanguageDown">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x0000016C">
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="Mode" Value="Next"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="BrightnessMinus">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000162">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="MaxValue" Value="100"/>
              <Property Name="MinValue" Value="0"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Repeat" Value="True"/>
              <Property Name="StepValue" Value="-5"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.Display.Brightness]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="ContrastPlus">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000162">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="MaxValue" Value="100"/>
              <Property Name="MinValue" Value="0"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Repeat" Value="True"/>
              <Property Name="StepValue" Value="5"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.Display.Contrast]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
        <VirtualKey Name="ContrastMinus">
          <Property Name="Description" Value=""/>
          <Property Name="VirtualKey_LED" Value="False"/>
          <KeyActions>
            <KeyAction ClassId="0x00000162">
              <Property Name="CompletionDatapoint" Value="None"/>
              <Property Name="CompletionValue" Value="0"/>
              <Property Name="Description" Value=""/>
              <Property Name="Locking" Value="Never"/>
              <Property Name="MaxValue" Value="100"/>
              <Property Name="MinValue" Value="0"/>
              <Property Name="Name" Value="Action_0"/>
              <Property Name="Repeat" Value="True"/>
              <Property Name="StepValue" Value="-5"/>
              <Property Name="ValueDatapoint" Value="Source[global].Variable[Internal.Display.Contrast]"/>
            </KeyAction>
          </KeyActions>
        </VirtualKey>
      </KeyMapping>
    </Layer>
  </Layers>
  <MovementOrder>
    <MovementEntry Control="Source[embedded].Layer[FrameLayer].Control[Slider_1]">
      <Property Name="Down" Value="Source[embedded].Layer[FrameLayer].Control[Slider_2]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[setDay]"/>
      <Property Name="Right" Value="Source[embedded].Layer[FrameLayer].Control[Slider_4]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[setDemoMinute]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[FrameLayer].Control[Slider_2]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[setDemoHour]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[setDay]"/>
      <Property Name="Right" Value="Source[embedded].Layer[FrameLayer].Control[Slider_4]"/>
      <Property Name="Up" Value="Source[embedded].Layer[FrameLayer].Control[Slider_1]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[FrameLayer].Control[Slider_3]">
      <Property Name="Down" Value="Source[embedded].Layer[FrameLayer].Control[Slider_4]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[setDemoSecond]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[setDemoHour]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[setYear]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[FrameLayer].Control[Slider_4]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[setHour]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[setDemoSecond]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[setDemoHour]"/>
      <Property Name="Up" Value="Source[embedded].Layer[FrameLayer].Control[Slider_3]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[setSecond]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[setDay]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[setMinute]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[setHour]"/>
      <Property Name="Up" Value="Source[embedded].Layer[FrameLayer].Control[Slider_4]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[setMinute]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[SetMonth]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[setHour]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[setSecond]"/>
      <Property Name="Up" Value="Source[embedded].Layer[FrameLayer].Control[Slider_4]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[setHour]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[setYear]"/>
      <Property Name="Left" Value="Source[embedded].Layer[FrameLayer].Control[Slider_3]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[setMinute]"/>
      <Property Name="Up" Value="Source[embedded].Layer[FrameLayer].Control[Slider_4]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[setYear]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[setDemoHour]"/>
      <Property Name="Left" Value="Source[embedded].Layer[FrameLayer].Control[Slider_3]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[SetMonth]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[setHour]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[SetMonth]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[setDemoHour]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[setYear]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[setDay]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[setMinute]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[setDay]">
      <Property Name="Down" Value="Source[embedded].Layer[Default].Control[setDemoHour]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[SetMonth]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[setYear]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[setSecond]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[setDemoSecond]">
      <Property Name="Down" Value="Source[embedded].Layer[FrameLayer].Control[Slider_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[setDemoMinute]"/>
      <Property Name="Right" Value="Source[embedded].Layer[FrameLayer].Control[Slider_4]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[setYear]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[setDemoMinute]">
      <Property Name="Down" Value="Source[embedded].Layer[FrameLayer].Control[Slider_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[setDemoHour]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[setDemoSecond]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[setYear]"/>
    </MovementEntry>
    <MovementEntry Control="Source[embedded].Layer[Default].Control[setDemoHour]">
      <Property Name="Down" Value="Source[embedded].Layer[FrameLayer].Control[Slider_1]"/>
      <Property Name="Left" Value="Source[embedded].Layer[Default].Control[setDemoSecond]"/>
      <Property Name="Right" Value="Source[embedded].Layer[Default].Control[setDemoMinute]"/>
      <Property Name="Up" Value="Source[embedded].Layer[Default].Control[setYear]"/>
    </MovementEntry>
  </MovementOrder>
  <TabSequence>
    <TabSeqItem Index="0" Value="Source[embedded].Layer[Default].Control[strNetworkAddress]"/>
    <TabSeqItem Index="1" Value="Source[embedded].Layer[Default].Control[varNodeNumber]"/>
    <TabSeqItem Index="2" Value="Source[embedded].Layer[Default].Control[setSecond]"/>
    <TabSeqItem Index="3" Value="Source[embedded].Layer[Default].Control[setMinute]"/>
    <TabSeqItem Index="4" Value="Source[embedded].Layer[Default].Control[setHour]"/>
    <TabSeqItem Index="5" Value="Source[embedded].Layer[Default].Control[setYear]"/>
    <TabSeqItem Index="6" Value="Source[embedded].Layer[Default].Control[SetMonth]"/>
    <TabSeqItem Index="7" Value="Source[embedded].Layer[Default].Control[setDay]"/>
    <TabSeqItem Index="8" Value="Source[embedded].Layer[Default].Control[setDemoSecond]"/>
    <TabSeqItem Index="9" Value="Source[embedded].Layer[Default].Control[setDemoMinute]"/>
    <TabSeqItem Index="10" Value="Source[embedded].Layer[Default].Control[setDemoHour]"/>
    <TabSeqItem Index="11" Value="Source[embedded].Layer[FrameLayer].Control[Slider_1]"/>
    <TabSeqItem Index="12" Value="Source[embedded].Layer[FrameLayer].Control[Slider_2]"/>
    <TabSeqItem Index="13" Value="Source[embedded].Layer[FrameLayer].Control[Slider_3]"/>
    <TabSeqItem Index="14" Value="Source[embedded].Layer[FrameLayer].Control[String_1]"/>
    <TabSeqItem Index="15" Value="Source[embedded].Layer[FrameLayer].Control[Slider_4]"/>
  </TabSequence>
</Page>