<?xml version="1.0" encoding="UTF-8"?>
<?AutomationStudio Version="4.2.4.149"?>
<Page xmlns="http://br-automation.co.at/AS/VC/Project" Name="B04_Help">
  <Property Name="Description" Value=""/>
  <Property Name="Height" Value="600"/>
  <Property Name="Index" Value="4"/>
  <Property Name="MoveFocus" Value="Circular"/>
  <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
  <Property Name="Width" Value="1024"/>
  <Layers>
    <LayerRef Source="Source[local].Layer[Background]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="Background"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="0"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[globalArea]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="globalArea"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="1"/>
    </LayerRef>
    <LayerRef Source="Source[local].Layer[globalArea_Basic_control]">
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Frozen"/>
      <Property Name="Left" Value="0"/>
      <Property Name="Name" Value="globalArea_Basic_control"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Z-Order" Value="2"/>
    </LayerRef>
    <Layer Name="Default">
      <Property Name="BackColor" Value="9"/>
      <Property Name="Description" Value=""/>
      <Property Name="EditingMode" Value="Normal"/>
      <Property Name="Height" Value="600"/>
      <Property Name="Left" Value="0"/>
      <Property Name="OutlineColor" Value="0"/>
      <Property Name="OutlineDisplayControl" Value="False"/>
      <Property Name="OutlineDisplayName" Value="True"/>
      <Property Name="OutlineHatched" Value="False"/>
      <Property Name="StatusDatapoint" Value="None"/>
      <Property Name="Top" Value="0"/>
      <Property Name="VisibilityMode" Value="Normal"/>
      <Property Name="Width" Value="1024"/>
      <Property Name="Z-Order" Value="3"/>
      <TextGroup>
        <TextLayer LanguageId="en">
          <Text ID="96980" Value="CPU = A(Hex)"/>
          <Text ID="96981" Value="HMI = B(Hex)"/>
          <Text ID="96982" Value="X20BC0083 = 1(Hex)"/>
          <Text ID="96983" Value="1)"/>
          <Text ID="96984" Value="2)"/>
          <Text ID="96985" Value="3)"/>
          <Text ID="96986" Value="Connect the External Module \nX20BC0083 by POWERLINK \ncable to the PLC"/>
          <Text ID="96987" Value="1)"/>
          <Text ID="96988" Value="Connect the HMI pannel PP500 with the CPU by ETHERNET cable"/>
          <Text ID="96989" Value="2)"/>
          <Text ID="96990" Value="Check the X2X conncetion between the X20BT9100 module in the CPU slot and the 4XP00 device"/>
          <Text ID="96991" Value="3)"/>
          <Text ID="96992" Value="If need a VCN connection with an external terminal connect the device with ETHERNET cable to the CPU"/>
          <Text ID="96993" Value="4)"/>
          <Text ID="96994" Value="For try the USB port the ETA panel has a RFID reader device. Is mandatory for test it use only the USB ports in the X20CPU, any other USB port will not work."/>
          <Text ID="96995" Value="1)"/>
          <Text ID="96996" Value="Connect the USB cable of RFID in the slot IF4 or IF5 (showed in the photo)"/>
          <Text ID="96997" Value="2)"/>
          <Text ID="96998" Value="When the device is connected in the control page will be show the RFID status"/>
          <Text ID="96999" Value="3)"/>
          <Text ID="97000" Value="Everytime the RFID detect a ID chip valid the popup in the control page will change"/>
          <Text ID="97001" Value="4)"/>
          <Text ID="97002" Value="Signal is forced by PLC"/>
          <Text ID="97003" Value="Output is ON"/>
          <Text ID="97004" Value="Signal is forced by field devices"/>
          <Text ID="97005" Value="Output or Input is OFF"/>
          <Text ID="97006" Value="Cooling device is \nswitched on"/>
          <Text ID="97007" Value="Heating device is \nswitched on"/>
          <Text ID="97008" Value="Everytime the node number is changed a Cold restart must be performed"/>
        </TextLayer>
        <TextLayer LanguageId="de">
          <Text ID="96980" Value="Text_1"/>
          <Text ID="96981" Value="Text_1"/>
          <Text ID="96982" Value="Text_1"/>
          <Text ID="96983" Value="Text_5"/>
          <Text ID="96984" Value="Text_5"/>
          <Text ID="96985" Value="Text_5"/>
          <Text ID="96986" Value="Text_1"/>
          <Text ID="96987" Value="Text_5"/>
          <Text ID="96988" Value="Text_1"/>
          <Text ID="96989" Value="Text_5"/>
          <Text ID="96990" Value="Text_1"/>
          <Text ID="96991" Value="Text_5"/>
          <Text ID="96992" Value="Text_1"/>
          <Text ID="96993" Value="Text_5"/>
          <Text ID="96994" Value="Text_1"/>
          <Text ID="96995" Value="Text_5"/>
          <Text ID="96996" Value="Text_1"/>
          <Text ID="96997" Value="Text_5"/>
          <Text ID="96998" Value="Text_1"/>
          <Text ID="96999" Value="Text_5"/>
          <Text ID="97000" Value="Text_1"/>
          <Text ID="97001" Value="Text_5"/>
          <Text ID="97002" Value="Text_1"/>
          <Text ID="97003" Value="Text_1"/>
          <Text ID="97004" Value="Text_1"/>
          <Text ID="97005" Value="Text_1"/>
          <Text ID="97006" Value="Text_1"/>
          <Text ID="97007" Value="Text_1"/>
          <Text ID="97008" Value="Text_1"/>
        </TextLayer>
        <IndexMap>
          <Index ID="96980" Value="5"/>
          <Index ID="96981" Value="6"/>
          <Index ID="96982" Value="7"/>
          <Index ID="96983" Value="8"/>
          <Index ID="96984" Value="9"/>
          <Index ID="96985" Value="10"/>
          <Index ID="96986" Value="11"/>
          <Index ID="96987" Value="12"/>
          <Index ID="96988" Value="13"/>
          <Index ID="96989" Value="14"/>
          <Index ID="96990" Value="15"/>
          <Index ID="96991" Value="16"/>
          <Index ID="96992" Value="17"/>
          <Index ID="96993" Value="18"/>
          <Index ID="96994" Value="19"/>
          <Index ID="96995" Value="20"/>
          <Index ID="96996" Value="21"/>
          <Index ID="96997" Value="22"/>
          <Index ID="96998" Value="23"/>
          <Index ID="96999" Value="24"/>
          <Index ID="97000" Value="25"/>
          <Index ID="97001" Value="26"/>
          <Index ID="97002" Value="27"/>
          <Index ID="97003" Value="28"/>
          <Index ID="97004" Value="29"/>
          <Index ID="97005" Value="30"/>
          <Index ID="97006" Value="31"/>
          <Index ID="97007" Value="32"/>
          <Index ID="97008" Value="33"/>
        </IndexMap>
      </TextGroup>
      <Controls>
        <Control ClassId="0x00001004" Name="Text_3">
          <Property Name="AlignmentHorizontal" Value="Right"/>
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Header]"/>
          <Property Name="ForeColor" Value="16"/>
          <Property Name="Height" Value="22"/>
          <Property Name="Left" Value="781"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[Basic_Control_pages]"/>
          <Property Name="TextIndexOffset" Value="10"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="19"/>
          <Property Name="Width" Value="172"/>
        </Control>
        <Control ClassId="0x00001001" Name="frmType1">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="249"/>
          <Property Name="Height" Value="90"/>
          <Property Name="Left" Value="619"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="102"/>
          <Property Name="Width" Value="372"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtType1">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Header]"/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="620"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TextHeaders]"/>
          <Property Name="TextIndexOffset" Value="62"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="86"/>
          <Property Name="Width" Value="371"/>
        </Control>
        <Control ClassId="0x00001001" Name="frmType2">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="249"/>
          <Property Name="Height" Value="90"/>
          <Property Name="Left" Value="300"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="102"/>
          <Property Name="Width" Value="286"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtType2">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Header]"/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="299"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TextHeaders]"/>
          <Property Name="TextIndexOffset" Value="61"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="86"/>
          <Property Name="Width" Value="288"/>
        </Control>
        <Control ClassId="0x00001001" Name="frmType3">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="249"/>
          <Property Name="Height" Value="296"/>
          <Property Name="Left" Value="302"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="223"/>
          <Property Name="Width" Value="418"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtType3">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Header]"/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="302"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TextHeaders]"/>
          <Property Name="TextIndexOffset" Value="60"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="207"/>
          <Property Name="Width" Value="419"/>
        </Control>
        <Control ClassId="0x00001001" Name="frmType4">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="FillStyle" Value="Transparent"/>
          <Property Name="ForeColor" Value="249"/>
          <Property Name="Height" Value="293"/>
          <Property Name="Left" Value="741"/>
          <Property Name="LineWidth" Value="2"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="224"/>
          <Property Name="Width" Value="252"/>
        </Control>
        <Control ClassId="0x00001004" Name="txtType4">
          <Property Name="AlignmentHorizontal" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Header]"/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="741"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[FrameHeader]"/>
          <Property Name="TextGroup" Value="Source[local].TextGroup[TextHeaders]"/>
          <Property Name="TextIndexOffset" Value="63"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="207"/>
          <Property Name="Width" Value="253"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_1">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Info]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="371"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="5"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="103"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_2">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Info]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="371"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="6"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="118"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_4">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Info]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="371"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="7"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="134"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_5">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="353"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="8"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="102"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_6">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="353"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="9"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="118"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_7">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="353"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="10"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="134"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_8">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="Height" Value="49"/>
          <Property Name="Left" Value="575"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="11"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="230"/>
          <Property Name="Width" Value="140"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_9">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="563"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="12"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="226"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_10">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="Height" Value="50"/>
          <Property Name="Left" Value="576"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="13"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="278"/>
          <Property Name="Width" Value="122"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_11">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="563"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="14"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="274"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_12">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="Height" Value="67"/>
          <Property Name="Left" Value="576"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="15"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="326"/>
          <Property Name="Width" Value="122"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_13">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="563"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="16"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="323"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_14">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="Height" Value="67"/>
          <Property Name="Left" Value="579"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="17"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="403"/>
          <Property Name="Width" Value="128"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_15">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="566"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="18"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="400"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_16">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="Height" Value="64"/>
          <Property Name="Left" Value="788"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="19"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="229"/>
          <Property Name="Width" Value="201"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_17">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="773"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="20"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="225"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_2">
          <Property Name="Bitmap" Value="Source[local].Bitmap[X20CPU]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="164"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="765"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="312"/>
          <Property Name="Width" Value="50"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_18">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="Height" Value="49"/>
          <Property Name="Left" Value="843"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="21"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="287"/>
          <Property Name="Width" Value="149"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_19">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="828"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="22"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="284"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_20">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="Height" Value="67"/>
          <Property Name="Left" Value="846"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="23"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="336"/>
          <Property Name="Width" Value="149"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_21">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="830"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="24"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="332"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_3">
          <Property Name="Bitmap" Value="Source[local].Bitmap[RFIDpop]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="840"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="395"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_4">
          <Property Name="Bitmap" Value="Source[local].Bitmap[RFIDokpop]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="40"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="921"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="394"/>
          <Property Name="Width" Value="70"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_22">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="Height" Value="67"/>
          <Property Name="Left" Value="847"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="25"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="442"/>
          <Property Name="Width" Value="149"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_23">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Input]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="832"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="26"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="438"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_1">
          <Property Name="BackColor" Value="35"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="630"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="110"/>
          <Property Name="Width" Value="18"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_2">
          <Property Name="BackColor" Value="51"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="630"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="130"/>
          <Property Name="Width" Value="18"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_3">
          <Property Name="BackColor" Value="16"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="630"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="150"/>
          <Property Name="Width" Value="18"/>
        </Control>
        <Control ClassId="0x00001001" Name="Shape_4">
          <Property Name="BackColor" Value="2"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="18"/>
          <Property Name="Left" Value="630"/>
          <Property Name="Shape" Value="Ellipse"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="170"/>
          <Property Name="Width" Value="18"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_5">
          <Property Name="Bitmap" Value="Source[local].Bitmap[Cooling]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="19"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="826"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="111"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_6">
          <Property Name="Bitmap" Value="Source[local].Bitmap[Heating]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="20"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="827"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="151"/>
          <Property Name="Width" Value="20"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_24">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="656"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="27"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="109"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_25">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="656"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="28"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="129"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_26">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="656"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="29"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="169"/>
          <Property Name="Width" Value="187"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_27">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="Height" Value="20"/>
          <Property Name="Left" Value="656"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="30"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="149"/>
          <Property Name="Width" Value="150"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_28">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="853"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="31"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="110"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_29">
          <Property Name="AlignmentVertical" Value="Center"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="Height" Value="30"/>
          <Property Name="Left" Value="854"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="32"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="147"/>
          <Property Name="Width" Value="105"/>
        </Control>
        <Control ClassId="0x00001004" Name="Text_30">
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Font" Value="Source[local].Font[Html_SDM]"/>
          <Property Name="ForeColor" Value="51"/>
          <Property Name="Height" Value="64"/>
          <Property Name="Left" Value="350"/>
          <Property Name="Multiline" Value="Automatic"/>
          <Property Name="SimulationIndex" Value="0"/>
          <Property Name="SimulationValue" Value=""/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="TextGroup" Value="Source[embedded].TextGroup"/>
          <Property Name="TextIndexOffset" Value="33"/>
          <Property Name="TextSource" Value="SingleText"/>
          <Property Name="Top" Value="155"/>
          <Property Name="Width" Value="208"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_7">
          <Property Name="Bitmap" Value="Source[local].Bitmap[buttonLayer]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="60"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="218"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="320"/>
          <Property Name="Width" Value="21"/>
        </Control>
        <Control ClassId="0x00001005" Name="Bitmap_1">
          <Property Name="BackColor" Value="252"/>
          <Property Name="Bitmap" Value="Source[local].Bitmap[ConfHardware]"/>
          <Property Name="BitmapSource" Value="SingleBitmap"/>
          <Property Name="ControlID" Value="0"/>
          <Property Name="Description" Value=""/>
          <Property Name="Height" Value="290"/>
          <Property Name="IndexDatapoint" Value="None"/>
          <Property Name="Left" Value="304"/>
          <Property Name="SimulationValue" Value="0"/>
          <Property Name="StyleClass" Value="Source[relative:StyleGroup].StyleClass[Default]"/>
          <Property Name="Top" Value="226"/>
          <Property Name="Width" Value="258"/>
        </Control>
      </Controls>
      <KeyMapping/>
    </Layer>
  </Layers>
  <MovementOrder/>
  <TabSequence/>
</Page>