﻿<?xml version="1.0" encoding="utf-8"?>
<pdef:Page xmlns:pdef="http://www.br-automation.com/iat2015/pageDefinition/v2" id="B03_SetupPage" layoutRefId="Visualization" displayName="$IAT/FlyOutContent/Setup" image="Media/AreaContents/FlyOutGroup/Tool.svg">
  <Assignments>
    <Assignment type="Content" baseContentRefId="B03_SetupContent" areaRefId="areaMain" backColor="rgba(225, 225, 225, 1)" />
    <Assignment type="Content" baseContentRefId="TopContent" areaRefId="areaTop" backGround="Media/AreaContents/TopBar.svg" backColor="rgba(225, 225, 225, 1)" />
    <Assignment type="Content" baseContentRefId="ControlFlyOutContent" areaRefId="areaFlyOut" />
    <Assignment type="Content" baseContentRefId="BottomContent" areaRefId="areaBottom" backColor="rgba(225, 225, 225, 1)" />
  </Assignments>
</pdef:Page>